//----COLOR----
$main-text-color: #212529;
$white-color: #fff;
$platinum-color: #e7e7e7;
$outer-space-color: #444;
$gunmetal-color: #262e36;
$gray-light-color: #f0f1f2;
$gray-bright-color: #ECECEC;
$cultured-color: #f4f4f4;
$lime-green-color: #4CD137;


    //FONT-SIZE
$font-main: 14px;